doctype html
html 
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body    
    h1 England Players:
    img(src="/css/img/england.png", alt="England Football Team Logo" width="200" height="200")
    a(href="/update-cobj") Add to this table
    table
      tr
        th Name 
        th Club
        th Position
      each player in data
        tr
          td #{player.properties.name}
          td #{player.properties.club}
          td #{player.properties.position}
