doctype html
html 
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body    
    h1 Craig's Guitars:
    a(href="/update-cobj") Add to this table
    table
      tr
        th Brand
        th Guitar Name
        th Model number
      each guitar in data
        tr
          td #{guitar.properties.brand}
          td #{guitar.properties.guitar_name}
          td #{guitar.properties.model_number}
