doctype html
html 
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body    
    h1 Add to England Palyers Table:
    img(src="/css/img/england.png", alt="England Football Team Logo" width="200" height="200")
    form(action="/update" method="POST")
      label(for="name") Name:
      input(type="text" id="name" name="name" required) 
      br
      label(for="club") Club: 
      input(type="text" id="club" name="club" required)
      br
      label(for="position") Position:
      input(type="text" id="type" name="position" required)
      input(type="submit" value="Add Player")
    br
    if error
      p Oh no! That player already exists! Please choose another.
      br
    a(href="/") Return to the Homepage