doctype html
html 
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body    
    h1 Add to Craig's guitars:
    form(action="/update" method="POST")
      label(for="brand") Brand:
      input(type="text" id="brand" name="brand" required) 
      br
      label(for="name") Name: 
      input(type="text" id="name" name="name" required)
      br
      label(for="model_number") Model number:
      input(type="text" id="type" name="model_number" required)
      input(type="submit" value="Add Guitar")
    br
    a(href="/") Return to the Homepage