@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    background-image: url("img/superHarry.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20% auto;
}
h1 {
    color: #25659a;
    margin: 2rem 1rem;
}
img {
    margin:auto;
    display: block;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
    margin:auto
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin: 10px auto;
}
table {
    margin: 1rem auto;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}
tr {
    border-bottom: 1px solid lightgrey;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: lightgrey;
}
td {
    padding-top: 8px;
    padding-bottom: 8px;
}